oh-my-zsh/
.DS_Store
iterm2
git
nvim/
kitty/kitty-themes/
kitty/theme.conf
zsh/.zsh_sessions
zsh/.zsh_history
htop/htoprc
Unreal Engine
gitui/theme.ron.old
starship.toml.bk
emacs/elpaca
emacs/config.org~
emacs/config.el
google-chrome
emacs/eln-cache
emacs/url
Code
go/telemetry
systemd
zellij/config.kdl.old
yin_yang
xournalpp
session
nvim_back/
ibus
fcitx
baloofileinformationrc
